<div class="modal-header">
  <h3 class="modal-title">{{header}}</h3>
</div>
<div class="modal-body">
  <ul>
    <div ng-if="isBodyArray()">
      <div ng-repeat="item in body">
        <td>{{$index+1}}. {{ item }}</td>
      </div>
    </div>
    <div ng-hide="isBodyArray()">{{ body }}</div>
  </ul>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
  <!--<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>-->
</div>
