<div class="modal-header">
  <span>Dodaj nowe zamówienie</span>
  <a href="" ng-click="orderModalCtrl.cancel()">
    <i class="fa fa-times" aria-hidden="true"></i>
  </a>
</div>
<div class="modal-body order-modal-body">
  <section>
    <form class="form-horizontal" name="newOrderForm" novalidate>
      <!-- ORDER -->
      <div class="form-group" ng-class="{ 'has-error' : newOrderForm.orderName.$invalid && !newOrderForm.orderName.$pristine }">
        <label class="control-label col-sm-3">
          Zamówienie
        </label>
        <div class="col-sm-9">
          <input type="text" name="orderName" class="form-control" ng-model="orderModalCtrl.order.orderName" required>
          <p ng-show="newOrderForm.orderName.$invalid && !newOrderForm.orderName.$pristine" class="help-block">Zamówienie jest wymagane.</p>
        </div>
      </div>

      <!-- CLIENT -->
      <div class="form-group" ng-class="{ 'has-error' : newOrderForm.customer.$invalid && !newOrderForm.customer.$pristine }">
        <label class="control-label col-sm-3">
          Nazwa klienta
        </label>
        <div class="col-sm-9">
          <input type="text" name="customer" class="form-control" ng-model="orderModalCtrl.order.customer" required>
          <p ng-show="newOrderForm.customer.$invalid && !newOrderForm.customer.$pristine" class="help-block">Nazwa klienta jest wymagana.</p>
        </div>
      </div>

      <!-- POSITION -->
      <div class="form-group" ng-class="{ 'has-error' : newOrderForm.position.$invalid && !newOrderForm.position.$pristine }">
        <label class="control-label col-sm-3">
          Etap produkcji
        </label>
        <div class="col-sm-9">
          <input type="text" name="position" class="form-control" ng-model="orderModalCtrl.order.position" required>
          <p ng-show="newOrderForm.position.$invalid && !newOrderForm.position.$pristine" class="help-block">Etap produkcji jest wymagany.</p>
        </div>
      </div>

      <!-- TYPE -->
      <div class="form-group" ng-class="{ 'has-error' : newOrderForm.express.$invalid && !newOrderForm.express.$pristine }">
        <label class="control-label col-sm-3">
          Rodzaj
        </label>
        <div class="col-sm-9">
          <select name="express" class="form-control" ng-model="orderModalCtrl.order.express" required>
            <option value="1">express</option>
            <option value="0">normalny</option>
          </select>
          <p ng-show="newOrderForm.express.$invalid && !newOrderForm.express.$pristine" class="help-block">Rodzaj jest wymagany.</p>
        </div>
      </div>

      <!-- DATE -->
      <div class="form-group" ng-class="{ 'has-error' : newOrderForm.date.$invalid && !newOrderForm.date.$pristine }">
        <label class="control-label col-sm-3">
          Data
        </label>
        <div class="col-sm-9">
          <input type="text" name="date" class="form-control" ng-model="orderModalCtrl.order.date" required>
          <p ng-show="newOrderForm.date.$invalid && !newOrderForm.date.$pristine" class="help-block">Data jest wymagana.</p>
        </div>
      </div>

    </form>
  </section>

</div>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-primary"
          ng-click="orderModalCtrl.ok(
          orderModalCtrl.order.orderName,
          orderModalCtrl.order.customer,
          orderModalCtrl.order.color,
          orderModalCtrl.order.position,
          orderModalCtrl.order.express,
          orderModalCtrl.order.date)"
          ng-disabled="newOrderForm.$invalid">Dodaj</button>
</div>
