@import "../bower_components/bootstrap/dist/css/bootstrap.min.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
.book-details .form-label {
  text-align: right;
}
.book-details .row {
  margin-top: 5px;
}
.main-page .margines {
  position: fixed;
  bottom: 0;
}
.main-page .home-page-text {
  text-align: center;
  font-size: 400%;
  text-shadow: 1px 1px 1px #1a2f99;
}
.main-page .table td {
  text-align: center;
}
.app form input.ng-invalid.ng-touched {
  border-color: red;
}
.app .error-msg {
  color: red;
}
.app .frontwit-logo {
  top: 0;
  text-align: center;
}
.app .footer {
  text-align: center;
  left: 40%;
  background-color: white;
}
.app .table td,
.app th {
  text-align: center;
}
.app table th:first-child {
  width: 130px;
}
.app table th:last-child {
  width: 50px;
}
.app .st-sort-ascent:before {
  content: '\25B2';
}
.app .st-sort-descent:before {
  content: '\25BC';
}
.app .table-filter {
  width: inherit;
}
.app .table-length {
  vertical-align: middle;
}
.app .table-length :nth-child(1) {
  margin-right: 10px;
}
.app .table-length :nth-child(3) {
  margin-left: 10px;
}
.app .pagination a {
  cursor: pointer;
}
