@import "../bower_components/bootstrap/dist/css/bootstrap.min.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
.main-page h3 {
  margin-top: 10px;
}
.main-page .home-page-text {
  margin-top: 70px;
  text-align: center;
  font-size: 400%;
  text-shadow: 1px 1px 1px #1a2f99;
}
.main-page .home-page-buttons {
  text-align: center ;
}
.main-page .table td {
  text-align: center;
}
.main-page .main-btn {
  box-shadow: 3px 3px 3px #888888;
  margin-top: 10px;
}
.login-page .login-form {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.login-page .form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.login-page .form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.login-page .form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.login-page .form button:hover,
.login-page .form button:active,
.login-page .form button:focus {
  background: #43A047;
}
.login-page .form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.login-page .form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.login-page .form .register-form {
  display: none;
}
.login-page .container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.login-page .container:before,
.login-page .container:after {
  content: "";
  display: block;
  clear: both;
}
.login-page .container .info {
  margin: 50px auto;
  text-align: center;
}
.login-page .container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.login-page .container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.login-page .container .info span a {
  color: #000000;
  text-decoration: none;
}
.login-page .container .info span .fa {
  color: #EF3B3A;
}
.login-page body {
  background: #76b852;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app form input.ng-invalid.ng-touched {
  border-color: red;
}
.app .error-msg {
  color: red;
}
.app .frontwit-logo {
  top: 0;
  text-align: center;
}
.app .footer {
  text-align: center;
  left: 40%;
  background-color: white;
  position: fixed;
  bottom: 0;
}
.app .table td,
.app th {
  text-align: center;
}
.app table th {
  vertical-align: middle !important;
}
.app table th:first-child {
  width: 50px;
}
.app table th:last-child {
  width: 55px;
}
.app .st-sort-ascent:before {
  content: '\25B2';
}
.app .st-sort-descent:before {
  content: '\25BC';
}
.app .table-filter {
  width: inherit;
}
.app .table-length {
  vertical-align: middle;
}
.app .table-length :nth-child(1) {
  margin-right: 10px;
}
.app .table-length :nth-child(3) {
  margin-left: 10px;
}
.app .pagination a {
  cursor: pointer;
}
.app .table-options {
  margin-bottom: 20px;
}
.app .table-options > span {
  font-size: 28px;
}
.app .table-options > button {
  margin-left: 10px;
  float: right;
}
.app .modal-header > span {
  font-size: 20px;
  float: left;
}
.app .modal-header > a {
  color: black;
  font-size: 16px;
  float: right;
}
.app .modal-header > a:focus {
  outline: none;
}
.app .component-add-button {
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
}
.app .component-add-button > a {
  color: black;
}
