@import "../bower_components/bootstrap/dist/css/bootstrap.min.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "main-page/main-page";
@import "event-mgmt/event-mgmt";

body{
  overflow-y: hidden !important
}

.app {
  form {
    input.ng-invalid.ng-touched {
      border-color: red;
    }
  }
  .error-msg {
    color: red;
  }
  .frontwit-logo {
    top: 0;
    text-align: center;
  }
  .footer {
    text-align: center;
    left: 40%;
    background-color: white;
    position: fixed;
    bottom: 0;
  }
  .table td, th {
    text-align: center;
  }

  .event-overview table th:first-child {
    width: auto;
  }

  table th{
    cursor: pointer;
    vertical-align: middle !important;
    &:first-child {
      width: 50px;
    }
    &:last-child {
      cursor: default;
      width: 55px;
    }
  }

  .st-sort-ascent:before{
    content: '\25B2';
  }

  .st-sort-descent:before{
    content: '\25BC';
  }

  .table-filter {
    width: inherit;
  }

  .table-length{
    vertical-align: middle;
    :nth-child(1) {
      margin-right: 10px;
    }
    :nth-child(3) {
      margin-left: 10px;
    }
  }

  .pagination a {
    cursor: pointer;
  }

  .table-options {
    margin-bottom: 20px;
    >span {
      font-size: 28px;
    }
    >button {
      margin-left: 10px;
      float: right;
    }
  }

  .modal-header {
    &>span {
      font-size: 20px;
      float: left;
    }
    &>a {
      color: black;
      font-size: 16px;
      float: right;
      &:focus {
        outline: none;
      }
    }
  }

  .component-add-button {
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    >a {
      color: black;
    }
  }

  .toast-success {
    background-color: seagreen;
  }

  .toast-error {
    background-color: indianred;
  }
}
