<div class="container">
    <h3 class="panel-heading">Elementy zamówienia: {{order.order_id}}</h3>
    <table ng-table="workersTable" class="table table-bordered table-striped">
        <thead>
        <tr>
            <th class="custom-element col-sm-1" ng-repeat="head in headers">
                <a href="">{{head}}</a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="component in components | orderBy:sortType:sortReverse | filter:searchFilter">
            <td>{{$index+1}}.</td>
            <td>{{component.height}}</td>
            <td>{{component.width}}</td>
            <td>{{component.amount}}</td>
            <td>{{component.missing}}</td>
            <td>{{component.comment}}</td>
        </tr>
        </tbody>
    </table>
</div>