
<div class="container">
    <div class="row">
        <div class="form-group col-sm-4">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control " placeholder="Szukaj" ng-model="searchFilter">
            </div>
        </div>
    </div>
</div>
<h3 class="panel-heading" ng-show="workerStats">Statystyki pracownika: {{workerName}} {{workerSurname}}</h3>
<h3 class="panel-heading" ng-hide="workerStats">Statystyki</h3>

<div class="container">
    <table ng-table="eventsTable" class="table table-bordered table-striped">
        <thead>
        <tr>
            <th class="custom-element col-sm-1">
                <a href="" >
                    Lp.
                </a>
            </th>
            <th class="custom-element col-sm-2">
                <a href="" ng-click="sortType = 'order_local';sortReverse = !sortReverse">
                    Nr Zamówienia
                    <span ng-show="sortType == 'order_local' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'order_local' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th class="custom-element col-sm-2">
                <a href="" ng-click="sortType = 'prim.stage';sortReverse = !sortReverse">
                    Etap Produkcji
                    <span ng-show="sortType == 'prim.stage' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'prim.stage' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th class="custom-element col-sm-2">
                <a href="" ng-click="sortType = 'missing';sortReverse = !sortReverse">
                    Brakujące elementy [szt.]
                    <span ng-show="sortType == 'missing' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'missing' && sortReverse" class="fa fa-caret-up"></span>
                </a></th>
            <th class="custom-element col-sm-2">
                <a href="" ng-click="sortType = 'date';sortReverse = !sortReverse">
                    Data Wykonania
                    <span ng-show="sortType == 'date' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'date' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th class="custom-element col-sm-3"></th>
        </tr>
        </thead>
        <!-- BODY OF TABLE-->
        <tbody>
        <tr ng-repeat="event in events | orderBy:sortType:sortReverse | filter:searchFilter">
            <td>{{$index+1}}.</td>
            <td>
                <span data-ng-hide="editing">{{event.prim.orderId}}</span>
                <input type="text" data-ng-show="editing" class="form-control" ng-model="entry.name"
                       ng-init="entry.name = worker.name; entry.code = worker.code" data-ng-required/>
            </td>
            <td>
                <span data-ng-hide="editing">{{event.prim.stage}}</span>
                <input type="text" data-ng-show="editing" class="form-control" ng-model="entry.surname"
                       ng-init="entry.surname = worker.surname" data-ng-required/>
            </td>
            <td>
                <span data-ng-hide="editing">{{event.missing}}</span>
                <select data-ng-show="editing" class="form-control" ng-model="entry.position"
                        ng-init="entry.position = positions[worker.position - 1]"
                        ng-options=" option as option for option in positions">
                </select>
            </td>
            <td>
                <span data-ng-hide="editing">{{event.date| date:' dd/MM/yyyy'}}</span>
                <input type="text" data-ng-show="editing" class="form-control" ng-init="entry.id = worker.id"
                       ng-model="entry.id"
                       data-ng-required/>
            </td>
            <td>
                <button ng-hide="editing" class="btn btn-danger custom-width"
                        ng-click="setEventToDelete(event)"  data-toggle="modal" data-target="#confirm-delete">Usuń
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>
<div class="pull-left col-sm-2" ng-show="workerStats">
    <a href="#/workers" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-arrow-left"></span> Powrót
    </a>
</div>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Usuwanie</h4>
            </div>

            <div class="modal-body">
                <p>Jesteś pewien, że chcesz usunąć ten rekord?</p>
                <p class="debug-url"></p>
            </div>

            <div class="modal-footer">
                <a class="btn btn-danger btn-ok" ng-click="deleteEvent()" data-dismiss="modal">Usuń</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Powrót</button>
            </div>
        </div>
    </div>
</div>
