.main-page {
  h3 {
    margin-top: 10px;
  }
  .home-page-text {
    margin-top: 70px;
    text-align: center;
    font-size: 400%;
    text-shadow: 1px 1px 1px rgba(26, 47, 153, 1);
  }
  .home-page-buttons{
    text-align: center ;
  }
  .table td {
    text-align: center;
  }
  .main-btn{
    box-shadow: 3px 3px 3px #888888;
    margin-top: 10px;
  }

}
