<section class="event-overview">

  <div class="container">
    <div class="table-options">
      <span ng-show="!eventOverviewCtrl.id">
        Statystyki
      </span>
      <span ng-show="eventOverviewCtrl.id">
        Statystyki dla {{eventOverviewCtrl.id}}
      </span>
    </div>

    <table st-table="eventOverviewCtrl.displayed" st-safe-src="eventOverviewCtrl.events" class="table table-striped">

      <thead>
      <tr>
        <td colspan="2">
          <div class="text-left table-length">
            <span>Pokaż</span>
            <select ng-init="pagSize = 5" ng-model="pagSize" ng-change="eventOverviewCtrl.updatePagination(pagSize)" ng-options="x for x in eventOverviewCtrl.paginationSizes" ></select>
            <span>pozycji</span>
          </div>
        </td>
        <td colspan="5">
          <input  type="text" class="pull-right form-control table-filter" placeholder="Szukaj" st-search="worker.code">
        </td>
      </tr>
      <tr>
        <th st-sort="id">
          L.p.
        </th>
        <th st-sort="orderNumber">
          Numer zamówienia
        </th>
        <th st-sort="orderStage">
          Etap
        </th>
        <th st-sort="worker.code">
          Kod pracownika
        </th>
        <th st-sort="element">
          Brakujące elementy
        </th>
        <th st-sort="date">
          Data wystawienia
        </th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <tr ng-repeat="event in eventOverviewCtrl.displayed">
        <td>{{event.id}}</td>
        <td>{{event.orderNumber}}</td>
        <td>{{event.orderStage}}</td>
        <td>
          {{event.worker.code}}

          <a uib-popover="{{event.worker.firstName}} {{event.worker.surname}} - {{event.worker.position}}" popover-title="Pracownik" popover-trigger="'mouseenter'">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
          </a>

        </td>
        <td>{{event.element}}</td>
        <td>{{event.date}}</td>
        <td>
          <div class="dropdown btn-group inline" ng-hide="editing">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
              <i class="fa fa-cog" aria-hidden="true"></i>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a href="" data-target="#confirm-delete" ng-click="eventOverviewCtrl.delete(event.id)" data-toggle="modal">
                  <i uib-popover="sdds" popover-title="title" class="fa fa-trash-o" aria-hidden="true"></i>
                  Usuń
                </a>
              </li>
            </ul>
          </div>
        </td>
      </tr>
      </tbody>

      <tfoot>
      <tr>
        <td colspan="5" class="text-right">
          <div st-pagination="" st-items-by-page="eventOverviewCtrl.itemsByPage" st-template="../../general/template/pagination.html"></div>
        </td>
      </tr>
      </tfoot>


    </table>

  </div>



</section>
