<nav ng-if="numPages && pages.length >= 2">
  <ul class="pagination">
    <li ng-class=""><a ng-click="selectPage(1)">Pierwsza</a></li>
    <li ng-class=""><a ng-click="selectPage(currentPage-1)"><i class="fa fa-fw fa-angle-double-left"></i></a></li>
    <li ng-repeat="page in pages" ng-class="{active: page==currentPage}"><a ng-click="selectPage(page)">{{page}}</a></li>
    <li ng-class=""><a ng-click="selectPage(currentPage+1)"><i class="fa fa-fw fa-angle-double-right"></i></a></li>
    <li ng-class=""><a ng-click="selectPage(numPages)">Ostatnia</a></li>
  </ul>
</nav>
